git:
    name: "Name"
    email: "Email"
kerberos:
    enabled: "false"
    domain: ""
    server: ""
active_directory:
    enabled: "false"
    realm: ""
    server: ""
ldap:
    enabled: "false"
    server: ""
